<ion-header>
  <ion-header>
    <app-promoforce-header title="Survey" backButtonDefaultHref='/shift'></app-promoforce-header>
  </ion-header>
</ion-header>

<ion-content fullscreen="true" class="survey">
  <ion-grid style=" width: 100%; height: 100%" >
    <ion-row size="12" style="height: 100%" >
      <ion-col
        offset="1"
        size-xs="10"
        size-sm="10"
        size-md="10">
          <form #f=ngForm (ngSubmit)="onSave(f)">
            <app-section *ngIf="currentSection && currentSection.questionnaireSection.trim().toLowerCase() != 'sales performance'"
              [section]="currentSection"
              [touched]="submitted"
              (isValid)="onIsValidChange(currentSectionIndex, $event)"
              [questionnaireId]="questionnaire.questionnaireID"
              [shiftId]="shiftId"
              (sectionAnswers)="onSectionAnswered(currentSectionIndex, $event)"
              [listCtrls]="listCtrls"
              [listCtrlPercents]="listCtrlPercents"
              [nonListCtrls]="nonListCtrls"
              #sectionComponent
            ></app-section>
            <app-sales-template *ngIf="currentSection && currentSection.questionnaireSection.trim().toLowerCase() == 'sales performance'"
                                [section]="currentSection"
                                [touched]="submitted"
                                (isValid)="onIsValidChange(currentSectionIndex, $event)"
                                [questionnaireId]="questionnaire.questionnaireID"
                                [shiftId]="shiftId"
                                (sectionAnswers)="onSectionAnswered(currentSectionIndex, $event)"
                                [listCtrls]="listCtrls"
                                [listCtrlPercents]="listCtrlPercents"
                                [nonListCtrls]="nonListCtrls"
            ></app-sales-template>
            <ion-item  class="item-background-color" *ngIf="questionnaire?.sections?.length > 1">
              <ion-button slot="start" (click)="previousSection()" *ngIf="currentSectionIndex > 0">Previous</ion-button>
              <ion-button slot="end" (click)="nextSection()" *ngIf="currentSectionIndex + 1 < questionnaire?.sections?.length" >Next</ion-button>
              <ion-button slot="end" type="submit" *ngIf="currentSectionIndex + 1 == questionnaire?.sections?.length" >Submit</ion-button>
            </ion-item>
          </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

